.navbar-custom {
    background-color: #ffffff; 
    padding: 10px 15px; 
}

#topBarHome_logo_img {
    width: 160px;
}
.navbar-brand {
    color: #000000 !important; 
    font-size: 1.5rem; 
}

.navbar-brand .logo-dark {
    display: inline-block;
}
.nav-link {
    color: #ff0000 !important; 
}

.navbar-toggler {
    border-color: rgba(99, 49, 49, 0.5); 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* body under the navbar */
body {
    background-color: #d1dfee; 
    font-family: Arial, sans-serif;
}

h1 {
    color: #333; 
}

.text-secondary {
    color: #6c757d; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* space between two buttons */
.bt {
    margin-right: 16px; 
}


